html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", "Roboto", "Noto Sans CJK JP", "Noto Sans", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  background-color:#222;
  color:#eee;
  margin: 0;
  font-size: 1.6rem;
}

main {
  margin: 1rem;
}

// -----------------------------

textarea {
  background-color: #111;
  color: #eee;
  overflow: scroll;
}

// -----------------------------

button {
  background-color: #eee;
  color: #111;
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  font-size: 1em;
}

// -----------------------------

.border {
  border: 1px solid #777;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_elem {
  flex: 1;
}

.flex_elem_fix {
  flex: 0;
}